html,body{border:0;font-family:"Helvetica-Neue","Helvetica",Arial,sans-serif;line-height:1.5;margin:0;padding:0;}
div,span,object,iframe,img,table,caption,thead,tbody,tfoot,tr,tr,td,article,aside,canvas,details,figure,hgroup,menu,nav,footer,header,section,summary,mark,audio,video{border:0;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cit,code,del,dfn,em,ins,q,samp,small,strong,sub,sup,b,i,hr,dl,dt,dd,ol,ul,li,fieldset,legend,label{border:0;font-size:100%;vertical-align:baseline;margin:0;padding:0;}
article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video{display:block;}
table{border-collapse:separate;border-spacing:0;}table caption,table th,table td{text-align:left;vertical-align:middle;}
a img{border:0;}
:focus{outline:0;}
body{width:100%;*zoom:1;}body:before,body:after{content:"";display:table;}
body:after{clear:both;}
body{background:#141414;color:#f2f2f2;font-family:'Ubuntu',sans-serif;}
h1{font-size:2em;line-height:2em;}
#content{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%;}
svg{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%;height:300px;background:rgba(255, 255, 255, 0.75);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
circle{fill:rgba(255, 255, 255, 0.75);stroke:rgba(0, 0, 0, 0.75);}circle.active{fill:rgba(0, 0, 255, 0.5);stroke:rgba(0, 0, 0, 0.25);}
