extends layouts/default

block content
    h1 svg sandbox &rarr; sample data
    a(href='/data/data.json') /data/data.json

    div#sb-master.svg-b

block scripts
    script(src='/javascripts/views/data.js')