extends layouts/default

block content
    h1 svg sandbox &rarr; sample data
    ul
        li
            a(href='/data/data.json') /data/data.json
        li
            a(href='/data/data.tsv') /data/data.tsv

    div#sb-master.svg-b

block scripts
    script(src='/javascripts/views/data.js')