@import 'reset.less';
@import 'grid.less';
@import 'elements.less';
//@import 'rickshaw.less';
@import 'media-queries.less';

@column-width: 60;
@gutter-width: 20;
@columns: 12;

@total-width: 100%;

.ff-ubuntu() { font-family:'Ubuntu', sans-serif; }
.ff-ubuntuCondensed() { font-family:'Ubuntu Condensed', sans-serif; }

body { background:rgb(20,20,20);color:rgb(242,242,242);.ff-ubuntu(); }

h1 { font-size:2em;line-height:2em; }

#content { .column(12); }

svg { .column(12);background:rgba(255,255,255,.95);.rounded(5px); }

text { .ff-ubuntuCondensed;font-weight:900; }

circle { fill:rgba(255,255,255,.75);stroke:rgba(0,0,0,.75);cursor:pointer;
    &.active { fill:rgba(30,30,245,.75);stroke:rgba(0,0,0,.25); }
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}



@media screen and (max-width: 960px) {

}